@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

button {
  padding: 1em 3em;
  background-color: var(--red);
  color: white;
  cursor: pointer;
  letter-spacing: 0.2rem;
}
